<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<h1 style="text-align:center; color:red; font:30px"><b><span th:text="#{add.form.title}"/></b></h1>
<br><br>
<center>
	<form th:object="${emp}" th:action="@{/employee/register}" method="post">
		<table bgcolor="cyan">
			<tr>
				<td><span th:text="#{common.ename}"/></td>
				<td><input th:field="*{ename}" type="text" /></td>
			</tr>
			<tr>
				<td><span th:text="#{common.job}"/></td>
				<td><input type="text" th:field="*{job}"/></td>
			</tr>
			<tr>
				<td><span th:text="#{common.sal}"/></td>
				<td><input th:field="*{sal}"/></td>
			</tr>
			<tr>
				<td><span th:text="#{common.deptno}"/></td>
				<td><input th:field="*{deptno}"/></td>
			</tr>
			<tr>
				<td><input type="submit" th:value="#{add.form.submit}"/></td>
				<td><input type="reset" th:value="#{add.form.reset}"/></td>
			</tr>
		</table>
	</form>
</center>
</html>